* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Atkinson Hyperlegible", serif;
}

.calculator {
    height: 450px;
    width: 350px;
    border: 1px solid #425363;
    border-radius: 28px;
    background-color: #425363;
    border-bottom: 15px solid #33404d;
    box-shadow: 0px 3px 10px black;
    position: relative;
}

.screen {
    position: absolute;
    background-color: #d2e2f0;
    height: 15%;
    width: 88%;
    left: 6%;
    top: 10%;
    border-radius: 10px;
    border-bottom: 6px solid #a6b3bfc0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 2.2rem;
    font-style: italic;
    text-shadow: 0px 1px 1px rgb(65, 65, 65);
    color: rgb(65, 65, 65);
}

.btn {
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(49, 49, 49, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn:hover {
    opacity: 0.8;
    transition: opacity 0.6s ease;
}

.seven {
    top: 30%;
    left: 22px;
}

.eight {
    top: 30%;
    left: 104px;
}

.nine {
    top: 30%;
    left: 186px;
}

.clear {
    top: 30%;
    left: 268px;
    background-color: #f17c30;
}

.four {
    top: 47%;
    left: 22px;
}

.five {
    top: 47%;
    left: 104px;
}

.six {
    top: 47%;
    left: 186px;
}

.minus {
    top: 47%;
    left: 268px;
}

.one {
    top: 64%;
    left: 22px;
}

.two {
    top: 64%;
    left: 104px;
}

.three {
    top: 64%;
    left: 186px;
}

.plus {
    top: 64%;
    left: 268px;
}

.divide {
    top: 81%;
    left: 22px;
}

.zero {
    top: 81%;
    left: 104px;
}

.product {
    top: 81%;
    left: 186px;
    font-size: 1.5rem;
}

.equal {
    top: 81%;
    left: 268px;
}



